/* mobile first */

/* .box{
    border-radius: 50%;
    background-color: blue;
    width: 200px;
    height: 200px;
}

@media (min-width:480px){
    
    .box{
        border-radius: 0;
    }
} */

/* desktop first */

 .box{
    background-color: blue;
    width: 200px;
    height: 200px;
}

@media (max-width:480px) {
    .box{
        border-radius: 50%;
    }
}